.cardContainer{
    margin-bottom:50px;
    border-radius: 0px;
    /* margin: 25px 20px;
    max-width:1200px; */
    transition:box-shadow 1s;
    padding:50px;
}

.cardContainer:hover{
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(255,255,255,0.07), 
                0 4px 8px rgba(255,255,255,0.07), 
                0 8px 16px rgba(255,255,255,0.07),
                0 16px 32px rgba(255,255,255,0.07), 
                0 32px 64px rgba(255,255,255,0.07);
    transition:box-shadow 1s; */
    background-color: rgba(0,0,0,0.5) !important;
    transition: background-color 1s;
}

.movieInfo a{
    text-decoration: none !important;
}

.movieInfo{
    color:white;
    margin:0 20px;
    
    display: flex;
    flex-direction: column;
    text-align: left;
}

.movTitle{
    margin-top:5px;
    font-size: 4em;
    font-style: italic;
    -webkit-text-fill-color: rgba(0,0,0,0.3);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2px;
}

.titleUnderStrap{
    color:white;
    font-size: 1.2em;
    font-style: italic;
}

.movData{
    margin:5px 0px;
}

.movData p{
    font-size: 1.2em;
}

.cardContent{    
    padding:2em;   
    backdrop-filter: blur(8px);
    background:rgba(0, 0, 0, 0.5);
    background-position: 'center';
    background-repeat: 'no-repeat';
    background-size: 'cover';
    border-radius: 0px;
    display:flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
}