.cardContainer{
    margin-bottom:50px;
    border-radius: 0px;
    transition:box-shadow 1s;
    padding:50px;
}

.cardContainer:hover{
    background-color: rgba(0,0,0,0.5) !important;
    transition: background-color 1s;
}

.movieInfo a{
    text-decoration: none !important;
}

.movieInfo{
    color:white;
    margin:0 20px;
    
    display: flex;
    flex-direction: column;
    text-align: left;
}

.movTitle{
    margin-top:5px;
    font-size: 4em;
    font-style: italic;
    -webkit-text-fill-color: rgba(0,0,0,0.3);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2px;
}

.titleUnderStrap{
    color:white;
    font-size: 1.2em;
    font-style: italic;
}

.movData{
    margin:5px 0px;
}

.movData p{
    font-size: 1.2em;
}

.cardContent{    
    padding:2em;   
    backdrop-filter: blur(8px);
    background:rgba(0, 0, 0, 0.5);
    background-position: 'center';
    background-repeat: 'no-repeat';
    background-size: 'cover';
    border-radius: 0px;
    display:flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
}

@media only screen and (max-width: 768px){
    .cardContent{
        flex-direction: column;
        padding:20px 5px;
    }
    .cardContainer{
        padding:5px;
    }
    .moviePoster img {
        width: 90%;
    }
}